body {
    font-family: "Montserrat", sans-serif;
    background: #e5e5e5;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); */
}

aside {
    width: 370px;
    background: #1e2939;
}
.cv-photo {
    margin-top: 25px;
}
.header-secondary {
    color: #ffffff;
    margin-bottom: 0;
}
.contact-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.bold {
    font-weight: 700;
}

.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}
.list-secondary-item {
    color: #ffffff;
    margin-top: 2px;
    padding-top: 2px;
}
.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}
.tech-skils-block {
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 0;
}
main {
    padding: 20px 88px 50px 88px;
}
.main-description {
    width: 400px;
    margin-bottom: 20px;
}
.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    margin-top: 2px;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 0;
    margin-top: 0;
}
.description {
    width: 400px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.projects {
    width: 485px;
}
.list-primary {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 0;
    padding-right: 0;
    list-style-position: inside;
    margin-bottom: 0;
    margin-top: 0;
}
.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
    margin-bottom: 0;
}
.heder-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
}
.highlight {
    color: #fb6d3a;
}
.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-top: 0;
}
.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 0;
    list-style-position: inside;
}
.university-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fb6d3a;
}
.rodo {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin: 0;
}
